{% extends "wrapper.html" %}

{% load static %}

{% block extrahead %}

    <link type='text/css' rel='stylesheet' href={% static "/css/style.css" %}> 

{% endblock %}

{% block title %}

    LADY`s CLUB

{% endblock %} 


{% block fullscreen-bg %}
<div class="fullscreen-bg">

    <div class="overlay">
        <div class="logo-wrapper"></div>
    </div>
    <video loop muted autoplay  class="fullscreen-bg__video">
        <source src={% static "/res/video/Pexels_Videos_1959209.mp4" %} type="video/mp4">
    </video>
    
</div> 
{% endblock %}

{% block main %}

<div class="main">
    <div class="main-container">
        <div class="about-club">
            <h2>Что такое Lady`s Club</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit animi, 
                expedita natus, nam commodi veniam ullam? Odio voluptatibus cum pariatur 
                magni ex a animi maxime minima asperiores reprehenderit ad, blanditiis,
                eius corporis est tempora dolor accusantium, ullam perspiciatis debitis 
                expedita.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iusto
                non unde at suscipit error amet voluptates eligendi, itaque tempora!
            </p>
            <hr>
            <div class="features-container">
                <div class="feature-block first-feature">
                    <h2>First feature</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Odit consequatur, fuga quia eum sunt id laboriosam alias dolores, 
                        magni maiores molestias labore fugiat tempora. Voluptate sunt cumque 
                        ab omnis culpa atque delectus minima nisi quae vitae sit voluptatibus 
                        illo nemo ipsam cum totam voluptatem quidem ratione, eaque eum est 
                        assumenda.
                    </p>
                </div>
                <div class="feature-block second-feature">
                    <h2>First feature</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Odit consequatur, fuga quia eum sunt id laboriosam alias dolores, 
                        magni maiores molestias labore fugiat tempora. Voluptate sunt cumque 
                        ab omnis culpa atque delectus minima nisi quae vitae sit voluptatibus 
                        illo nemo ipsam cum totam voluptatem quidem ratione, eaque eum est 
                        assumenda.
                    </p>
                </div>
                <div class="feature-block third-feature">
                    <h2>Second feature</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Odit consequatur, fuga quia eum sunt id laboriosam alias dolores, 
                        magni maiores molestias labore fugiat tempora. Voluptate sunt cumque 
                        ab omnis culpa atque delectus minima nisi quae vitae sit voluptatibus 
                        illo nemo ipsam cum totam voluptatem quidem ratione, eaque eum est 
                        assumenda.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mission-container">
        <div class="mission">
            <hr>
            
            <div class="mission-header">
                <p>
                    WOMEN ARE PATHETIC
                </p>
            </div>
        
            <div class="mission-block">
                <p class="mission-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum odio 
                    fugit vero sint aperiam quae expedita laborum, quidem pariatur 
                    quibusdam sit deserunt quas labore nostrum perferendis quis mollitia, 
                    ipsum facere vero sint aperiam quae expedita laborum, quidem pariatur 
                    quibusdam sit deserunt quas labore nostrum perferendis quis mollitia, 
                    ipsum facere.
                </p>
            </div>
            <hr>
        </div>
    </div>

    <div class="advantages-block">
        <h2>
            WHY WOMEN ARE PATHETIC
        </h2>
        <div class="advantages-items">
            <div class="advantages-item">
                <img src="/static/res/pics/woman.png">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid praesentium necessitatibus voluptatibus similique commodi doloribus nulla itaque, repudiandae dicta assumenda culpa odio laudantium maiores placeat.
                </p>
                
            </div>
            <div class="advantages-item">
                <img src="/static/res/pics/woman.png">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid praesentium necessitatibus voluptatibus similique commodi doloribus nulla itaque, repudiandae dicta assumenda culpa odio laudantium maiores placeat.
                </p>
                
            </div>
            <div class="advantages-item">
                <img src="/static/res/pics/woman.png">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid praesentium necessitatibus voluptatibus similique commodi doloribus nulla itaque, repudiandae dicta assumenda culpa odio laudantium maiores placeat.
                </p>
                
            </div>
            <div class="advantages-item">
                <img src="/static/res/pics/woman.png">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid praesentium necessitatibus voluptatibus similique commodi doloribus nulla itaque, repudiandae dicta assumenda culpa odio laudantium maiores placeat.
                </p>
                
            </div>
            <div class="advantages-item">
                <img src="/static/res/pics/woman.png">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid praesentium necessitatibus voluptatibus similique commodi doloribus nulla itaque, repudiandae dicta assumenda culpa odio laudantium maiores placeat.
                </p>
                
            </div>
            <div class="advantages-item">
                <img src="/static/res/pics/woman.png">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid praesentium necessitatibus voluptatibus similique commodi doloribus nulla itaque, repudiandae dicta assumenda culpa odio laudantium maiores placeat.
                </p>
                
            </div>
        </div>
    </div>
    
    <div class="club-cards-block">
        <h2>
            Наши клубные карты
        </h2>
        <div class="club-cards-types">
            <div class="club-card-item">
                <h3>
                    3 месяца
                </h3>
                <h5>
                    12 мероприятий
                </h5>
                <hr>
                <ul>
                    <li>
                        - Посещение мероприятий
                    </li>
                    <li>
                        - Чат W.HELP
                    </li>
                    <li>
                        - Книжный клуб
                    </li>
                    <li>
                        - Telegram-канал основных новостей
                    </li>
                    <li>
                        - Серебряный бейдж
                    </li>
                </ul>
            </div>

            <div class="club-card-item">
                <h3>
                    6 месяцев
                </h3>
                <h5>
                    24 мероприятий
                </h5>
                <hr>
                <ul>
                    <li>
                        - Посещение мероприятий
                    </li>
                    <li>
                        - Чат W.HELP
                    </li>
                    <li>
                        - Книжный клуб
                    </li>
                    <li>
                        - Telegram-канал основных новостей
                    </li>
                    <li>
                        - Серебряный бейдж
                    </li>
                </ul>
            </div>

            <div class="club-card-item">
                <h3>
                    12 месяцев
                </h3>
                <h5>
                    48 мероприятий
                </h5>
                <hr>
                <ul>
                    <li>
                        - Посещение мероприятий
                    </li>
                    <li>
                        - Чат W.HELP
                    </li>
                    <li>
                        - Книжный клуб
                    </li>
                    <li>
                        - Telegram-канал основных новостей
                    </li>
                    <li>
                        - Серебряный бейдж
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>     

{% endblock %} 

{%block club-cards-description-wrapper%}

<div class="club-cards-description-wrapper">
    <div class="club-cards-description">
        <h2>Клубная карта <br> Lady`s CLUB</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolores.
             Facere sit ullam sint, in amet nisi voluptatum nobis animi doloremque iusto 
             laboriosam voluptas ratione laudantium qui quas, officiis ducimus. 
             Repudiandae praesentium debitis dolor ipsam mollitia quo iure ipsum 
             dignissimos provident. Repellat et eius vitae ad. Itaque facere est v
             oluptatum porro assumenda excepturi distinctio similique unde labore fugit
              repudiandae eligendi dolorem, repellat, nobis necessitatibus totam placeat
               aut, deleniti fuga? Consequuntur?
        </p>
    </div>
</div> 

{% endblock %}


{% block offer-block %}

<div class="offer-block">
    <h2>Как вступить в Lady`s Club?</h2>
    <ul>
        <li id="one">Отправить заявку, заполнив форму ниже</li>
        <li id="two">Прийти на мероприятие и заключить договор (не забудь взять паспорт)</li>
        <li id="three">Оплатить взнос банковской картой на сайте</li>
        <li id="four">На следующем мероприятии получить именную клубную карту</li>
        <li id="five">Пользоваться всеми преимуществами клуба</li>
        <li id="another">Никому не рассказывать о клубе</li>
    </ul>
    <form>
        <label>
            <input type="text" placeholder=" ">
            <span>ФИО</span>
        </label>
        <label>
            <input type="tel" placeholder=" ">
            <span>Номер телефона</span>
        </label>
        <label>
            <input type="email" placeholder=" ">
            <span>Электрнонная почта</span>
        </label>
        <label>
            <input type="text" placeholder=" ">
            <span>Ваши вопросы</span>
        </label>
        
        <input type="submit" value="Отправить">
        <span></span>
        
    </form>
</div>

{% endblock %}