{% extends "wrapper.html" %}

{% load static %}


{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link type='text/css' rel='stylesheet' href={% static "/css/style.css" %}> 
    <script src = {% static "/js/index.js" %}></script>
    <link type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js'></script>
{% endblock %}

{% block title %}

    LADY`s CLUB

{% endblock %} 


{% block fullscreen-bg %}
<div class="fullscreen-bg">

  <div class="overlay">
      <div class="logo-wrapper"></div>
  </div>
  <!-- poster="video/plane.jpg" -->
  <video loop muted autoplay  class="fullscreen-bg__video">
      <source src="/static/res/video/video-background.mp4" type="video/mp4">
  </video>
  
</div>
{% endblock %}

{% block main %}

<div class="main">
  <div class="main-container">
      <div class="about-club">
          <h2>Что такое Lady`s Club</h2>
          <p>
            Lady`s Club - это женский клуб, сообщество девушек с активной жизненной позицией,
             стремящихся к саморазвитию и открытых к общению. Клуб работает в 3 
             направлениях: вдохновение, саморазвитие и off-line общение. Ежемесячно 
             в рамках клуба проводится 4 мероприятия, продолжительность каждого 2-3 
             часа. Расписание мероприятий клуба составляется на 2 месяца вперед и 
             учитывает каждое из направлений.
          </p>
          <hr>
          <div class="features-container">
              <div class="feature-block first-feature">
                  <h3>-1-<br>Вдохновение</h3>
                  <p>
                    Порой у девушек опускаются руки и пропадает вера в свои силы. 
                    Мы в клубе W. постоянно проводим такие мероприятия, после 
                    которых открывается второе дыхание и появляется уверенность в 
                    том что все возможно. В этом разделе ты найдешь уроки по 
                    мотивации, планированию, стилю и красоте, необычные 
                    мастер-классы от коучей и интересных спикеров, а также 
                    workshop'ы от психологов и просто вдохновляющих личностей нашего
                     города.
                  </p>
              </div>
              <div class="feature-block second-feature">
                  <h3>-2-<br>Саморазвитие</h3>
                  <p>
                    Каждая девушка в своей жизни играет множество ролей: дочь, мама,
                     жена, карьеристка... И зачастую пытается быть идеальной для 
                     всех, погружается с головой в свою роль, забывая при этом кто 
                     она на самом деле. Что интересует ее как личность? А в чем твоя
                      индивидуальность? Какая ты на самом деле? Чем бы ты хотела 
                      заниматься в свободное время? И вообще есть ли у тебя это 
                      свободное от ролей время? В этом разделе ты найдешь интересные
                       курсы, которые позволят тебе самосовершенствоваться в 
                       различных сферах и чувствовать себя многогранной личностью. 
                       Курсы ораторского искусства, самообороны, финансовой 
                       грамотности для девушек, "Make-up для себя", фотокурсы - это 
                       лишь малая часть того что мы приготовили для тебя.
                  </p>
              </div>
              <div class="feature-block third-feature">
                  <h3>-3-<br>Off-line общение</h3>
                  <p>
                    На сегодняшний день любой среднестатистический человек 90% 
                    своего общения ведет через социальные сети и лишь 10% уделяет 
                    личному общению. Мы в клубе W. за ценность личного общения, 
                    когда находишь новые интересные знакомства и видишь человека 
                    таким какой он есть, а не набор идеальных картинок вместо 
                    человека. В этом разделе ты найдешь развлекательные мероприятия 
                    клуба W. - дегустация вин, чемпионат по игре "Крокодил", 
                    кулинарные мастер-классы, тематические вечеринки. Эти и другие 
                    мероприятия помогут тебе поближе познакомиться с участницами 
                    клуба, насладиться живым общением и подзарядиться хорошим 
                    настроением.
                  </p>
              </div>
          </div>
      </div>
  </div>
  
  <div class="mission-container">
      <div class="mission">
          <hr>
          
          <div class="mission-header">
              <h2>
                  WOMEN ARE PATHETIC
              </h2>
          </div>
      
          <div class="mission-block">
              <p class="mission-text">
                <br>
                Создать пространство, где девушки смогут черпать силы, энергию, 
                знания и говорить открыто о важном.
                <br>
                Вдохновлять женщин на личностный и духовный рост и делать их жизнь 
                интереснее.
              </p>
          </div>
          <hr>
      </div>
  </div>

  <div class="advantages-block">
      <h2>
          Преимущества Lady`s Club
      </h2>
      <div class="advantages-items">
          <div class="advantages-item">
              <img src="/static/res/pics/woman.png">
              <p>
                Личное общение с интересными и успешными девушками со схожими интересами
              </p>
              
          </div>
          <div class="advantages-item">
              <img src="/static/res/pics/woman.png">
              <p>
                Личностный рост благодаря мероприятиям с приглашенными коучами, спикерами и наставниками
              </p>
              
          </div>
          <div class="advantages-item">
              <img src="/static/res/pics/woman.png">
              <p>
                Вдохновение и уверенность в собственных силах
              </p>
              
          </div>
          <div class="advantages-item">
              <img src="/static/res/pics/woman.png">
              <p>
                Новые полезные и в то же время практичные знания в рамках образовательных программ
              </p>
              
          </div>
          <div class="advantages-item">
              <img src="/static/res/pics/woman.png">
              <p>
                W. - double you - сделай свою жизнь вдвое интереснее и насыщеннее
              </p>
              
          </div>
          <div class="advantages-item">
              <img src="/static/res/pics/woman.png">
              <p>
                Самореализация и возможность быть самой собой
              </p>
              
          </div>
      </div>
  </div>
  
  <div class="club-cards-block">
      <h2>
          Наши клубные карты
      </h2>
      <div class="club-cards-types">
          <div class="club-card-item">
              <h3>
                  3 месяца
              </h3>
              <h5>
                  12 мероприятий
              </h5>
              <hr>
              <ul>
                  <li>
                      - Посещение мероприятий
                  </li>
                  <li>
                      - Чат W.HELP
                  </li>
                  <li>
                      - Книжный клуб
                  </li>
                  <li>
                      - Telegram-канал основных новостей
                  </li>
                  <li>
                      - Серебряный бейдж
                  </li>
              </ul>
          </div>

          <div class="club-card-item">
              <h3>
                  6 месяцев
              </h3>
              <h5>
                  24 мероприятий
              </h5>
              <hr>
              <ul>
                  <li>
                      - Посещение мероприятий
                  </li>
                  <li>
                      - Чат W.HELP
                  </li>
                  <li>
                      - Книжный клуб
                  </li>
                  <li>
                      - Telegram-канал основных новостей
                  </li>
                  <li>
                      - Серебряный бейдж
                  </li>
              </ul>
          </div>

          <div class="club-card-item">
              <h3>
                  12 месяцев
              </h3>
              <h5>
                  48 мероприятий
              </h5>
              <hr>
              <ul>
                  <li>
                      - Посещение мероприятий
                  </li>
                  <li>
                      - Чат W.HELP
                  </li>
                  <li>
                      - Книжный клуб
                  </li>
                  <li>
                      - Telegram-канал основных новостей
                  </li>
                  <li>
                      - Серебряный бейдж
                  </li>
              </ul>
          </div>
      </div>

  </div>

</div> 

{% endblock %} 

{%block club-cards-description-wrapper%}

<div class="club-cards-description-wrapper">
  <div class="club-cards-description">
      <h2>Клубная карта <br> Lady`s CLUB</h2>
      <p>
        Приобретение клубной карты - это инвестиция в саму себя. Каждую неделю ты 
        сможешь посещать мероприятия, которые обеспечат тебе личностный рост. 
        Мы заинтересованы в долгосрочных отношениях. Ведь тогда клуб W. будет 
        действительно сообществом девушек со схожими интересами. Поэтому главное 
        правило клуба - никогда не рассказывай о клубе тому, кто вряд ли тебя поймет
         в твоем стремлении развиваться!
         <br>
         Если вдруг ты не сможешь посещать занятия из-за командировки или болезни 
         (своей или ребенка), то в рамках клубной карты на 12 месяцев есть услуга 
         "заморозка" - просто предупреди, и мы продлим тебе срок действия твоей 
         клубной карты. Нам не нужны справки от врачей или командировочные листы. 
         Это доверие.
      </p>
  </div>
</div> 


{% endblock %}


{% block news %}

<div class="news-wrapper">
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>

        <!-- <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div> -->
        
        {% for news_item in news %}
            <div class="gallery-cell">
                <div class="image" style="background-image: url({{news_item.news_image.url}});"></div>
                <div class="date">
                    <p>
                        
                        {{news_item.news_dates}}
                    </p>
                </div>
                <div class="header">
                    <p>
                        {{news_item.news_header}}
                    </p>
                </div>
                <div class="description">
                    <p>
                        {{news_item.news_text}}
                    </p>
                </div>
            </div>
        {% endfor %}

    </div>
</div>


{% endblock %}


{% block offer-block %}

<div class="offer-block">
    <h2>Как вступить в Lady`s Club?</h2>
    <ul>
        <li id="one">Отправить заявку, заполнив форму ниже</li>
        <li id="two">Прийти на мероприятие и заключить договор (не забудь взять паспорт)</li>
        <li id="three">Оплатить взнос банковской картой на сайте</li>
        <li id="four">На следующем мероприятии получить именную клубную карту</li>
        <li id="five">Пользоваться всеми преимуществами клуба</li>
        <li id="another">Никому не рассказывать о клубе</li>
    </ul>
    <form id = "registration_form" method = "POST" name = "registration_form">
        {% csrf_token %}
        <fieldset class="fieldset">
        <label>
            <input type="text" placeholder=" " name = "fio">
            <span>ФИО</span>
        </label>
        <label>
            <input type="tel" placeholder=" " name = "phone_number">
            <span>Номер телефона</span>
        </label>
        <label>
            <input type="email" placeholder=" " name = "email">
            <span>Электрнонная почта</span>
        </label>
        <label>
            <input type="text" placeholder=" " name = "questions">
            <span>Ваши вопросы</span>
        </label>
        
        <input type="button" value="Отправить" onclick = sendForm()>
        <span></span>
      </fieldset>
    </form>

    
    <div class="gif-shadow">

      <div class="gif-container"></div>

    </div>
</div>

{% endblock %}